<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.github.xlongshu.maven"/>
        <listEntry value="archetypeArtifactId=archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.0.1"/>
        <listEntry value="groupId=sourabhshrivastava"/>
        <listEntry value="artifactId=Cucumber"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=sourabhshrivastava.Cucumber"/>
        <listEntry value="outputDirectory=C:\Users\soura\eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\soura\AppData\Local\Temp\m2e-archetypeGenerator1267041772498041"/>
</launchConfiguration>
